html {
	background-image: url('/images/background-login.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}
body{
	height: 100%;
}

#app{
	height: 100%;
}
.card-wrapper {
    align-self: center !important;
}

.logo-cliente{
	max-height: 125px;
  	margin-top: -32px;
    margin-right: -24px;
}

.custom-card{
    border-radius: 5.25rem !important;
    background-color: white !important;
}

.login-button{
  	font-weight: 700;
    font-size: 20px;
}